body{
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
}

.card {
    width: 70%;
    height: 80%;
}

.form-label {
    text-align: left;
}
#exampleFormControlInput1 {
    width: 100%;
    border: none;
    border-radius: 0;
    height: 75px;
}


section {
    display: flex;
}

.option {
    width: 50%;
}
.dropdown-toggle{
    width: 100%;
    border: none;
    height: 45px;

}

.date {
    width: 50%;
    height: 100%;
}

.form-control {
    height: 45px;
    border: none;
}

#buttons {
    justify-content: center;
}

#buttons > button {
    margin-right: 8px;
}

.width{
    width: 100%;
}

.data {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

p {
    margin: 0;
}

#date {
    color: grey;
}
.text > p {
    margin-left: 15px;
}

.input-group {
    margin-bottom: 15px;
}

#data-field {
    display: flex;
    flex-direction: column;
    
    width: 100%;
}

#school {
    background-color: #F7BD01;
    border: none;
}

#work {
    background-color: purple;
    border: none;
}

.drop {
    width: 100%;
    height: 50px;
    border: none;
}